<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Ответ клиенту</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Служба поддержки</h1>
<form id="answer" class="col card p-3 mb-5" method="post"
      th:object="${request}">
    <h6 th:text="${request.fullName}"></h6>
    <textarea class="form-control" readonly="readonly" rows="5" th:text="${request.message}">
    </textarea>
    <textarea form="answer" class="form-control" rows="5" th:field="*{answer}">
    </textarea>
    <input class="btn btn-primary" type="submit" value="Ответить">
</form>
</body>
</html>