<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Выбор клиента</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Служба поддержки</h1>
<form class="col card p-3 mb-5" method="post" th:action="@{/choice/}"
      th:object="${requests}">
    <table class="table table-striped table-bordered">
        <tr>
            <th>E-mail</th>
            <th>Полное имя</th>
            <th>Сообщение</th>
            <th>Создано</th>
            <th>Выбрать</th>
        </tr>
        <tr th:if="${#lists.isEmpty(requests)}">
            <td colspan="5">Не найдено ни одной записи.</td>
        </tr>
        <tr th:each="request : ${requests.getChoiceDtos()}">
            <td th:text="${request.email}"></td>
            <td th:text="${request.fullName}"></td>
            <td th:text="${request.message}"></td>
            <td th:text="${request.createdAt}"></td>
            <td>
                <a class="btn btn-primary" type="button" th:href="@{'/answer/' + ${request.id}}">Ответить</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>